<th:block th:include="header"></th:block>

<div class="container row">
    <p th:text="${evento.local}"></p>
    <p>
        <span th:text="${evento.data}"></span>
        <span th:text="${evento.horario}"></span>
    </p>

    <form method="POST">
        <div class="row">
            <div class="input-field col s6">
                <label>RG</label>
                <input type="text" name="rg" value="" />
            </div>
            <div class="input-field col s6">
                <label>Nome</label>
                <input type="text" name="nome" value="" />
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn" href="/eventos"><i class="material-icons left">person_add</i> Cadastrar</button>
    </form>
</div>

<table class="table striped highlight container">
    <thead>
        <tr>
            <th>Convidado</th>
            <th>RG</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="convidado: ${convidados}">
            <td th:text="${convidado.nome}"></td>
            <td th:text="${convidado.rg}"></td>
            <td><a onclick="return window.confirm('Deletar convidado?')" th:href="${(#mvc.url('EC#deletaConvidado').arg(0, convidado.rg)).build()}"><i class="material-icons left">delete</i></a></td>
        </tr>
    </tbody>
</table>

<th:block th:include="footer"></th:block>