<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula Spring Boot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <nav class="blue">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Aula Spring Boot</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/eventos"><i class="material-icons left">grid_on</i> Lista de eventos</a></li>
            <li><a href="/cadastrarEvento"><i class="material-icons left">add</i> Cadastrar evento</a></li>
            </ul>
        </div>
    </nav>
</header>
<th:block th:include="mensagemValidacao"></th:block>
